<div class="content" role="main">
    <br/>
    <!-- Resources -->
    <h2>Counter</h2>
    <br />
    <div class="container">
        <a class="card" rel="noopener">
            <span>Connect MetaMask</span>
        </a>
        <a class="card" rel="noopener">
            <span>Incremente</span>
        </a>
        <a class="card" rel="noopener">
            <span>Decremente</span>
        </a>
        <a class="card-container" rel="noopener">
            <span>
                <h2>{{value}}</h2>
            </span>
        </a>
    </div>